@media screen {
    *, *:after, *:before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  
* {
    margin: auto;
    padding: auto;
}

canvas {
    background-color: #FFF;
    border: 1px solid #000;
}

hr {
    width: 100%;
}

html {
    font-size: 62.5%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background);
    color: var(--text-color);
}

/* base size */
body {
    height: 100%;
    font-size: 1.4rem;
    background-color: #334441;
}

#col-editor {
    background: var(--sidebar-color);
    color: var(--sidebar-text);
    border-right: 1px solid #FFF;
    height: 100%;
    width: 50%;
    position: fixed;
    left: 0;
    top: 0;
}

#controls {
    padding: 5px;
}

#col-stage {
    width: 50%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 0;
}

#container-canvas {
    height: 370px;
}

#stage {
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -304px;
}

#editor {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
}

#code {
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    right: 0;
    border: none;
    padding: 10px 10px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border: 1px solid #000;
}

button {
    padding: 5px;
}

.icon {
    font-size:36px;
    color:rgb(0, 0, 0);
}

#playback-controls {
    width: 160px;
    display: flex;
    flex-direction: row;
}

.input-numerical {
    width: 50px;
}

label {
    color: #FFF;
    display: inline-block;
    width: 150px;
    border-bottom: 1px solid rgb(165, 165, 165);
}

.controls-container {
    position: relative;
    width: 100%;
}

.controls-heading {
    height: 40px;
    border: 1px solid #000;
    border-bottom: 3px solid #FFF;
    background-color: rgb(91, 91, 91);
    color: #FFF;
    padding: 2px;
    font-size: 24px;
}

.controls-contents {
    margin-top: 10px;
    margin-left: 20px;
}

.output-div {
    margin-top: 20px;
    width: 100%;
    bottom: 0px;
}

